/* 
link of github 
https://github.com/melsayedahmed
Dont forget follow 

link of Youtube Channel
https://www.youtube.com/channel/UCo92JwtW5CbyN3XO6O0qocA
Dont forget Subscribe
 */
 .green,
 .red,
 .blue,
 .black{
     width: 100px;
     height: 100px;
     position: absolute;
 }
 .green{
     background-color: #009688;
     z-index: 2;
     left: 30px;
     top: 30px;
 }
 .red{
     background-color: #f44336;
     z-index: 3;
     top: 40px;
     left: 40px;
 }
 .blue{
     background-color: #03a9f4;
     top: 20px;
     left: 20px;
     z-index: 1;
 }
 .black{
     background-color: black;
     z-index: -1;
     left: 20px;
     top: 30px;
 }
 hr{
     margin-top: 160px;
 }
 .assign-2 div{
     width: 400px;
     margin: 50px auto;
     background-color: #eee;
     padding: 20px;
     border: 3px solid;
     border-color: #f44336 #2196f3;
     position: relative;
 }
 .top-left,
 .bottom-left,
 .top-right,
 .bottom-right{
     position: absolute;
     background-color: #2196f3;
     padding: 5px 10px;
     color: white;
     font-weight: bold;
 }
 .top-left{
     top: -15px;
     left: -15px;
     border-right: 3px solid #f44336;
 }
 .bottom-left{
     bottom: -15px;
     left: -15px;
     border-right: 3px solid #f44336;
 }
 .top-right{
     top: -15px;
     right: -15px;
     border-left: 3px solid #f44336;
 }
 .bottom-right{
     bottom: -15px;
     right: -15px;
     border-left: 3px solid #f44336;
 }
 .assign-3{
     width: 400px;
     margin: 50px auto;
 }
 .html,
 .css,
 .js{
     background-color: #ddd;
     margin-bottom: 20px;
     padding: 10px;
     list-style: none;
 }
 .html ol,
 .css ol{
     margin: 10px;
     padding-left: 10px;
 }
 .html ol li,
 .css ol li{
     margin: 10px;
     background-color: white;
     padding: 5px;
 }
 .css ol li{
     list-style-type: upper-roman;
 }
 .js ul{
     padding-left: 0;
 }
 .js ul li{
     margin: 10px 0;
     background-color: white;
     padding: 5px;
     list-style-position: inside;
 }
 table{
     width: 700px;
     margin: 50px auto;
     font-family: Arial, Helvetica, sans-serif;
     border-bottom: 5px solid #009688;
 }
 caption{
     font-weight: bold;
     margin-bottom: 20px;
 }
 table thead td{
     background-color: #404040;
     color: white;
     font-weight: bold;
     text-align: center;
     padding: 20px;
 }
 img{
     width: 70px;
 }
 table tbody td{
     background-color: #eee;
     padding: 20px;
     text-align: center;
 }
 .view{
     background-color: #03a9f4;
     border: none;
     padding: 5px 10px;
     color: white;
     font-weight: bold;
 }
 .del{
     background-color: #e91e63;
     border: none;
     padding: 5px 10px;
     color: white;
     font-weight: bold;
 }