/* 
link of github 
https://github.com/melsayedahmed
Dont forget follow 

link of Youtube Channel
https://www.youtube.com/channel/UCo92JwtW5CbyN3XO6O0qocA
Dont forget Subscribe
 */
.parent .child .title{
    color: red;
}
.parent .title{
    color: blue;
}
.parent p,
.title{
    color: green;
}

.one,
.two,
.three,
.four{
    text-transform: capitalize;
    background-color: #a52a2a;
    color: white;
    padding: 20px;
    margin: 20px;
    width: fit-content;
    max-width: 400px;
    max-height: 20px;
    overflow: hidden;

}